
*.pyc
*.pyo
CPCT+/deepfix-java/data/iitk-dataset/LICENSE
CPCT+/deepfix-java/data/iitk-dataset/NOTICE
CPCT+/deepfix-java/LICENSE
deepfix-java/data/.DS_Store
CPCT+/.DS_Store
rlassist-java/data/deepfix-test-data.zip
deepfix-java/data/*
java_data/*
.DS_Store
rlassist-java/data/*
rlassist-java/logs/
